/* small device responsive  */
@media screen and (max-width:576px) {

    .nav-container {
        flex-direction: column;

    }

    .logo {
        width: 100%;
        margin: 0 auto;
        padding: 20px;
    }

    .menu {
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
    }

    /* banner section  */

    .banner-container {
        flex-direction: column-reverse;

    }

    .main-title {
        font-size: 3rem;

    }

    .banner-text,
    .banner-imgs {
        width: 100%;
        height: 100%;
        padding: 10px;
        margin: 0 auto;
        background-position: left;
        background-size: contain;
        text-align: center;

    }

    .banner-text {
        background-size: cover;

    }

    .banner-imgs>img {
        object-fit: cover;

    }

    .sub-title {
        font-size: 2rem;

    }

    /* gamer section  */
    .gamer-container {
        flex-direction: column;
        padding: 10px;
    }

    .gamer-text,
    .gamer-image {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .gamer-image>img {
        width: 100%;
        margin: 0 auto;
    }

    /* Online game section  */
    .online-img-container {
        grid-template-columns: repeat(1, 1fr);

    }

    .Online-container {
        width: 100%;
        padding: 20px;
    }

    /* Instant Play Section  */
    .instant-play-text {
        width: 90%;
        height: auto;
        margin: 0 auto;
        text-align: center;
        padding: 10px;
    }

    .instant-play-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        gap: 80px;

    }

    .instant-play-imgs {
        width: 100%;
    }

    /* anytime section  */

    .anytime-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        gap: 80px;


    }

   
  















}















/* Medium Device  */

@media screen and (min-width:576px) and (max-width:800px) {
    .nav-container {
        flex-direction: column;

    }

    .logo {
        width: 50%;
        margin: 0 auto;
        padding: 20px;
    }

    .menu {
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
    }

    /* banner section  */

    .banner-container {
        flex-direction: column-reverse;

    }

    .main-title {
        font-size: 3rem;

    }

    .banner-text,
    .banner-imgs {
        width: 100%;
        height: 100%;
        padding: 10px;
        margin: 0 auto;
        background-position: left;
        background-size: contain;
        text-align: center;

    }

    .banner-text {
        background-size: cover;
    }

    .banner-imgs>img {
        object-fit: cover;
    }

    .sub-title {
        font-size: 2rem;
    }

    /* gamer section  */
    .gamer-container {
        flex-direction: column;
        padding: 20px;
    }

    .gamer-text,
    .gamer-image {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .gamer-image>img {
        width: 100%;
        margin: 0 auto;
    }


    /* Online game section  */
    .online-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .Online-container {
        width: 90%;
        padding: 20px;
        margin: 0 auto;
    }

    /* Instant Play Section  */
    .instant-play-text {
        width: 90%;
        height: auto;
        margin: 0 auto;
        text-align: center;
        padding: 10px;
    }

    .instant-play-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        gap: 80px;

    }

    .instant-play-imgs {
        width: 100%;
    }

    /* anytime section starts  */
    

    .anytime-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        gap: 80px;

    }






}

































/* tabloid device  */
@media screen and (min-width:800px) and (max-width:1024px) {
    .nav-container {
        flex-direction: column;

    }

    .logo {
        width: 30%;
        margin: 0 auto;
        padding: 20px;
    }

    .menu {

        width: 100%;
        margin: 0 auto;

    }

    .banner-container {
        flex-direction: column-reverse;

    }

    .banner-text,
    .banner-imgs {
        width: 100%;
        height: 100%;
        padding: 10px;
        margin: 0 auto;
        background-position: left;
        background-size: contain;
        text-align: center;

    }

    .banner-text {
        background-size: cover;
    }

    .banner-imgs>img {
        object-fit: cover;
    }



    /* gamer section  */
    .gamer-container {
        flex-direction: column;
        padding: 20px;
    }

    .gamer-text,
    .gamer-image {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .gamer-image>img {
        width: 100%;
        margin: 0 auto;
    }

    /* Online game section  */
    .online-img-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .Online-container {
        width: 50%;
        padding: 10px;
        margin: 0 auto;

    }

    /* Instant Play Section  */
    .instant-play-container {
        flex-direction: column;
        gap: 80px;
    }

    .instant-play-text {
        width: 80%;
        height: auto;
        margin: 0 auto;
        text-align: center;
        margin: 0px;
        padding: 20px;

    }

    .instant-play-imgs {
        width: auto;
        height: 100%;
        margin: 0 auto;
    }

    /* Anytime section starts  */
    .anytime-container {
        flex-direction: column;
        gap: 80px;

    }

   



}



























/* big devices  */

@media screen and (min-width:1024px) and (max-width:1320px) {
    .nav-container {
        flex-direction: column;

    }

    .logo {
        width: 20%;
        margin: 0 auto;
        padding: 20px;
    }

    .menu {

        width: 50%;
        margin: 0 auto;

    }

    .banner-container {
        flex-direction: column-reverse;

    }

    .banner-text,
    .banner-imgs {
        width: 100%;
        height: 100%;
        padding: 10px;
        margin: 0 auto;
        background-position: left;
        background-size: contain;
        text-align: center;

    }

    .banner-text {
        background-size: cover;
    }

    .banner-imgs>img {
        object-fit: cover;
    }



    /* gamer section  */
    .gamer-container {
        flex-direction: column;
        padding: 20px;
    }

    .gamer-text,
    .gamer-image {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .gamer-image>img {
        width: 100%;
        margin: 0 auto;
    }

    /* Online game section  */
    .online-img-container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Instant Play Section */
    .instant-play-text {
        width: 50%;
        height: auto;
        margin: 0 auto;
        text-align: center;
        margin: 0 auto;
        padding-left: 100px;
    }

    .instant-play-imgs {
        width: 80%;
        height: 100%;
        margin: 0 auto;
    }

    /* anytime section starts  */






}